body {
  font-family: 'IM Fell Great Primer', serif;
  background-color: #fff;
  color: #000;
}

h1, h2, h3 {
  text-align: center;
}

.container {
  margin-top: 50px;
  text-align: center;
}

.btn {
  background-color: #000;
  color: #fff;
  border-radius: 0;
  border: none;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

.row {
  display: flex;
  justify-content: center;
}

.col-md-4.offset-md-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

table {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

thead th {
  text-transform: uppercase;
  font-size: 12px;
}

thead th::first-letter {
  font-size: 14px;
}

table th.left-align,
table td.left-align {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:not(:first-child) {
  border-top: 1px solid black;
}

td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
}

.header-image {
  height: 300px;
  background-image: url('village.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}