body {
  font-family: 'IM Fell Great Primer', serif;
  background-color: #fff;
  color: #000;
}

h1, h2, h3 {
  text-align: center;
}

.container {
  margin-top: 50px;
  text-align: center;
}

.btn {
  background-color: #000;
  color: #fff;
  border-radius: 0;
  border: none;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

.row {
  display: flex;
  justify-content: center;
}

.col-md-4.offset-md-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

table {
  margin-top: 20px;
}

td {
  text-align: left;
}