body {
  font-family: 'IM Fell Great Primer', serif;
  background-color: #fff;
  color: #000;
}

h1, h2, h3 {
  text-align: center;
}

.container {
  margin-top: 50px;
  text-align: center;
}

.btn {
  background-color: #000;
  color: #fff;
  border-radius: 0;
  border: none;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

.row {
  display: flex;
  justify-content: center;
}

.col-md-4.offset-md-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

table {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

thead th {
  text-transform: uppercase;
  font-size: 12px;
}

thead th::first-letter {
  font-size: 14px;
}

table th.left-align,
table td.left-align {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:not(:first-child) {
  border-top: 1px solid black;
}

td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
}

td:nth-child(1) {
  text-align: right;
}

td:nth-child(2) {
  font-size: 12px;
}

td:nth-child(6) {
  font-size: 12px;
}

td:nth-child(7) {
  font-size: 12px;
}

td:nth-child(8) {
  text-align: left;
  font-size: 12px;
}

.header-image-top {
  height: 100%;
  background-image: url('village-top.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.header-image-top h1 {
  margin-left: 10%;
  margin-top: 10%;
  color: black;
  font-size: 3rem;
  font-family: 'IM Fell Great Primer', serif;
  text-shadow: 2px 2px #ffffff;
  text-align: center;
}

.header-image-bottom {
  height: 100%;
  background-image: url('village-bottom.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}

.header-image-bottom h2 {
  margin-top: 50px;
  color: white;
  font-size: 2rem;
  font-family: 'IM Fell Great Primer', serif;
  text-shadow: 2px 2px #422222;
  text-align: center;
}
